* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

div#wrapper {
  margin: 0 auto;
  width: 95vw;
}

.menu {
  margin: 0;
  height: 6vh;
  width: 100%;
  display: flex;
  /*border: 1px solid red;*/
}
.menu-logo {
    margin: auto;
    margin-left: 0px;
    padding: 10px 10px 10px 20px;
}
.toggle-nav {
    display: none;
}
/* 導航列 */
nav ul {
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

nav li a {                 
  display: block;           
  color: black;
  text-decoration: none;
  padding: 0.5em 1em; 
  cursor: pointer;
} 

.container {
  margin: auto 10vw;
  width: 80%;
  height: 42em;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  /*border: 3px solid blue;*/
}

input[type=text],[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#con{
  text-align: center;
  margin: 0 20vw;
  width: 50%;
  /*border: 1px solid red;*/
}

/*input[type=text]:focus {
  background-color: lightblue;
}*/

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .container{
    height: 50em;
  }
  #tel img{
    width: 18%;
  }
  
}

@media screen and (max-width: 767px) {
    .menu {
        width: 85%;
        margin: 0 2.5em;
        display: inline-block;
    }
    .toggle-nav {
        position: absolute;
        left: 4%;
        color: #5C7956;
        text-decoration: none;
        line-height: 40px;
    }
    
    .menu ul.active {
        display: none;
    }
    .menu ul {
        left: 0px;
        padding: 10px 25px;
        margin-top: -5px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #EFEFF0;
    }
     
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
    }
    .menu a {
      text-align: center;
        display: block;
    }
}


header img{
  position:relative;
  left: 15vw;
}

footer {
  height: 15em;
  border-top: 1px solid black;
}

div #tel{
  width: 30%;
  height: 15em;
  float: right;
  border-left: 1px solid black;
}
div #tel ul{
  list-style:none;
}