* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}
/*GOTOP*/
.toTop-arrow {
	width: 2.5rem; /*按鈕大小*/
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
    z-index: 1;
}
/*箭頭粗細*/
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: gray;
	position: absolute;
	content: "";
}
/*箭頭位置*/
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;
}

.fade {
  margin: 50px;
  padding: 50px;
  opacity:0;
  transition: 0.5s;
}

.showme {
  opacity:1!important;
  transition: 0.8s;
}


div#wrapper {
  margin: 0 auto;
  width: 100%; 
  /*background: #EBEBEB;*/
}

nav {
  margin-top: 3em;
  height: 3em;
  /*border: 1px solid red;*/
}

/* 導航列 */
nav ul {
  text-align: right;
  margin:0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 0.5em;        
}

nav li a {                 
  display: block;           
  color: #5C7956;
  text-decoration: none;
  padding: 0.5em 1em; 
  margin-top: 0.25em;
}

header {
  height: 24em;
  width: 100%;
  margin-bottom: 0;
 
  /*border: 1px solid blue;*/
}
/*照片輪播*/
.slider {
  /*border: 1px solid blue;*/
    }

.slick-slide {
      margin: 0px 10px;
    }

.slick-slide img {
      width: 100%;
    }

.slick-slide {
      transition: all ease-in-out .4s;
    }
    
.slick-active {
      opacity: 5;
    }

.slick-current {
      opacity: 1;
    }

div#page1 h3,#page1 p{
  text-align: center;
  color: gray;
}
div #left{
  width: 50%;
  float: left;
}
div #right{
  width: 50%;
  float: right;
}
aside{
  width: 50%;
  height: 25em;
  float: left;
  /*border: 1px solid green;*/
  background-image: url(../img/about.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

div#content{
  width: 50%;
  height: 25em;
  float: right;
  /*border: 1px solid brown;*/
  text-align: left;
  line-height: 45px;
  overflow:auto;
}

div#content ul {
  text-align: center;
  color: dimgray;
}

div#container {
  margin: 0;
  height: 35em;
  /*border: 1px solid blue;*/
  
}
div#page1{
  height: 22em;
  /*border: 1px solid blue;*/
}
div#page2{
  color: #B0A298;
  height: 30em;
  /*border: 1px solid blue;*/
  line-height: 13vh;
}
div#page2 table{
    text-align: center;
    font-size: 14.5pt;
}
/*div#page2 li {
  display: inline-block;
  margin: auto 200px;
  
}*/
div#page3{
  height: 100vh;
  /*border: 1px solid black;*/
  opacity: 0.9;
}

footer {
  height: 15em;
  border-top: 1px solid gray;
}
div #text{
  height: 15em;
  width: 70%;
  float: left;
}
div #tel{
  width: 30%;
  height: 15em;
  float: right;
  border-left: 1px solid black;

}
div #tel ul{
  list-style:none; 
}

  @media screen and (max-width: 767px) {
    p,h2,h3,h4{
      font-size: 12px;
    }
    div #page1{
      height: 24em;
      margin: 0;
      text-align: center;
      /*border: 1px solid black*/
    }
    div #left,aside{
      width: 100%;
      float: none;
    
    }
    aside{
      height: 15em;
    }
    div #right,div #content{
      width: 100%;
      /*border: 1px solid black;*/
      float: none;
    }
    div #content{
      height: 30em;
    }
    div #container{
      height: 45.5em;
      margin: 0;
      text-align: center;
     
    }
    div #page3  {
      padding: 15px;
      margin: 0;
      height: 20em;
      
    }
    div #text{
      display: none;
      width: 100%;
      float: none;
      border:none;
    }
    div #tel{
      text-align: center;
      width: 100%;
      border:none;
      float: none;
    }
    nav {
      margin: 7px auto;
      height: 2em;
    }
    .menu li{
      margin-right:0;
    }
       
    
  }

