* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

div#wrapper {
  margin: 0 auto;
  width: 95vw;
}

nav {
  height: 6vh;
  /*border: 1px solid red;*/
}
/* 導航列 */
nav ul {
  margin: 0 auto;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-right: 0.5em; 
  margin-top: 0.5em;
}

nav li a {                 
  display: block;           
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;       
}
header {
  height: 40em;
  /*border: 1px solid blue;*/
}


#left2{
  margin: 0 10em;
  height: 40em ;
  width: 80%;
  /*border: 1px solid red;*/
}
.news_title{
  height: 4em;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid gray;
}

#news{
  height: 36em;
  width: 80%;
  /*border: 2px solid yellow;*/
  margin: 0 6.8em;
  overflow:auto;
}
#news a{
  text-decoration: none; 
  color: #5C7956;
}
#news dl{
  margin: 20px 0;
}
#news dt{
  margin: 10px 0;
}

footer {
  height: 15em;
  border-top: 1px solid black;
}

div #tel{
  width: 30%;
  height: 15em;
  float: right;
  border-left: 1px solid gray;
}
div #tel ul{
  list-style:none;
}




