* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

div#wrapper {
  margin: 0 auto;
  width: 95vw;
}

nav {
  height: 6vh;
 /* border-b: 1px solid red;*/
}
/* 導航列 */
nav ul {
  margin: 0 auto;
  text-align: right;
}

nav li {
  display: inline-block;
  margin-right: 0.5em; 
  margin-top: 0.5em;
}

nav li a {                 
  display: block;           
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;       
}

/*底線滑動*
nav li a {
text-decoration: none;
position: relative;
}

nav li a:after {
content: '';
position: absolute;
bottom: -2px;
left: 0;
width: 0%;
border-bottom: 3px solid black;
transition: 0.3s;
}
nav li a:hover:after {
width: 100%;
}*/
header {
 height: 63em ;
  /*border: 1px solid blue;*/
}

div#opt{
  /*border: 1px solid green;*/
  height: 5em;
  
}

div#opt ul{
  display: block;
  padding: 0;
  text-align: center;
}
div#opt li{                    
  display:inline-block;  
  margin: auto 6em;
}
div#opt li a {                
  display: block;           
  color: #5C7956;
  text-decoration: none;
  padding: 0.5em 2em;       
  background-color:#EBEBEB;
  border-color:  #DDAA00;
  border-radius: 10px; 	 
}

div#opt li a:hover{
  background-color:#A6C794;
  border-radius: 10px; 
}

div #container li {                    
  display:inline-block;  
}
div#container{
  height: 57em;
  overflow: auto;
}

h1{
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

ul#layer{
  padding: 0 auto ;
  width: 60%;
  margin:auto;
  text-align: center;
}
footer {
  height: 15em;
  border-top: 1px solid black;
}

div #tel{
  width: 30%;
  height: 15em;
  float: right;
  border-left: 1px solid gray;
}
div #tel ul{
  list-style:none;
}